<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', 'css/materialize.css' }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', 'css/style.css' }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Home</h1>
        <div class="row center">
          <h5 class="header col s12 light">Sriram Somasundaram</h5>
        </div>
        <div class="row center">
          <a href="http://github.com/SriramS32" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Github</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{{ url_for('static', 'images/background1.jpg' }}" alt="Background img 1"></div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A website in development</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{ url_for('static', 'images/background2.jpg' }}" alt="background img 2"></div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Based on Materialize and Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{ url_for('static', 'images/background3.jpg' }}" alt="Background img 3"></div>
  </div>




  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', 'js/materialize.min.js' }}"></script>
  <script src="{{ url_for('static', 'js/init.js' }}"></script>
</body>
</html>